.container {
  border: 1px solid #000000;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction:column;
}

.user-info {
  margin-bottom: 5px;
  display: flex
}

.username {
  padding-right: 10px;
  font-weight: bold;
}

.name {
  margin-right: auto;
}

.date {
  display: inline-flex;
  font-style: italic;
  font-size: x-small;
}

.message {
  font-size: 20px;
}